# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>ColonyCounter, "Colony_area",com.mycompany.imagej.ProcessAreaPlugin
Plugins>ColonyCounter, "Colony_thresolder",com.mycompany.imagej.ProcessThresholderPlugin
Plugins>ColonyCounter, "Colony_measurer",com.mycompany.imagej.Process_Measurer
